<header class="text-center" style="background-color:rgb(59, 58, 116); margin-bottom: 50px;">
    <div class="container" id="name">
        <div class="col-md-4">
            <img src="./img/Logomakr_9dLJQF.png" id="logo" />
        </div>
        <div class="col-md-4">
            <h1>V.O.S<h1>
        </div>
  </div>
</header><div class="row">

  <div class="col-md-6 col-sm-12">
    <div class="container" style="display: flex;flex-flow: row;">
          <div class="" style="margin-right:20px; border-right : solid black;text-align:center;">
            <img src="../img/calendar_icon.png"/>
          </div>
    </div>

  </div>

      <div class="col-md-5 col-sm-12 center-block"style="text-align:center;">
      <div class=""  style="display: flex;flex-flow: column;">
        <h1>Sing up with us</h1>

              <a ui-sref='mainPage'>
                  <button type="button" name="button">log in</button>
              </a>
              <div class="col-md-8">
                  <a class="btn btn-block btn-social btn-facebook" method="get" action="/api/google">
                      <span class="fa fa-facebook"></span> Sign in with facebook
                  </a>
              </div>
              <div class="col-md-8">
                <form class="" action="/api/login/google" method="get">
                  <button type="submit" class="btn btn-block btn-social btn-google">
                      <span class="fa fa-google"></span> Sign in with google
                  </button>
                </form>
              </div>
          </div>
      </div>

</div>
